.llp-inner-input-container {
  display: flex;
  margin-bottom: 16px;
}

label {
  width: 100px;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px 8px;

  text-align: right;
}

input[type="text"] {
  margin: 0;
  border-radius: 0;
  border-color: black;
  border-left-color: none;

  color: black;
}

input:focus {
  outline: none !important;
  border-color: black !important;
  box-shadow: none !important;
}

::-webkit-input-placeholder {
  color: #ababab;
}

::-moz-placeholder {
  color: #ababab;
}

::-ms-placeholder {
  color: #ababab;
}

::placeholder {
  color: #ababab;
}
